.title {
    @include font(36px, 700, 44px);
    text-align: center;
    margin-bottom: 50px;
  }
  .features {
    padding: 94px 0px;

    &__icon {
        background-color: var(--background-light-color);
        padding: 25px 100px;
        margin-bottom: 30px;
      }

  &__subtitle {
    @include font(14px, 700, 17px);
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  &__text {
    color: var(--pretitle-text-color);

    @include font(14px, 400, 24px);
  }
  &__list {
    display: flex;
  }
  }
  
  .features__item {
    flex-basis: calc((100% - 90px) / 4);

    &:not(:nth-last-child(1)) {
        margin-right: 30px;
      }
  }
  