.hero {
  max-width: 1600px;
  background-image: linear-gradient(
      to right,
      rgba(0.18, 0.19, 0.23, 0.4),
      rgba(0.18, 0.19, 0.23, 0.4)
    ),
    url("../icons/Background.svg");
  background-repeat: no-repeat;
  margin: 0 auto;
  background-color: var(--background-dark-color);
  padding: 200px 0px;
  border: #000000 solid 1px;
  box-shadow: -1px 4px 7px 4px rgba(0, 0, 0, 0.25);
  &_title {
    color: var(--main-color);

    max-width: 696px;
    margin: auto;
    text-align: center;
    margin-bottom: 30px;

    @include font(44px, 900, 61px);
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }
}
